# scons build stuff -- to delete
build/
.sconf_temp/
.sconsign.dblite
config.log
# autotools
Makefile.in
aclocal.m4
autom4te.cache/
config.h.in
config.h.in~
configure
depcomp
install-sh
missing
ltmain.sh
config.guess
config.sub
py-compile
